body {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-around;
}

section.wrapper {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

div {
  margin-left: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

div#fizz {
  background-color: orange;
  border: 2px dashed #cc8400;
}

div#buzz {
  background-color: greenyellow;
  border: 2px dashed #8acc26;
}

div#fizzbuzz {
  background-color: rgb(77, 199, 255);
  border: 2px dashed #3e9fcc;
}

div#numbers {
  background-color: rgb(255, 147, 241);
  border: 2px dashed #cc76c1;
}
